# This ensures 'git shortlog' understands "different" committers as being
# the same person
#
# Proper Name <commit@email.xx>
# Proper Name <proper@email.xx> <commit@email.xx>
#
Frank Dittrich <frank.dittrich@mailbox.org> <frank_dittrich@hotmail.com>
JimF <jfoug@cox.net>
magnum <magnumripper@hushmail.com> <magnum>
magnum <magnumripper@hushmail.com> <john.magnum@hushmail.com>
